# Server Configuration
PORT=4000
NODE_ENV=development

# Client URL for CORS
CLIENT_URL=http://localhost:3000

# Redis Configuration
REDIS_ENABLED=false
REDIS_URL=redis://localhost:6379

# Authentication Configuration
AUTH_ENABLED=false
JWT_SECRET=your_jwt_secret_key_here

# Vercel Configuration
VERCEL_TOKEN=qE8s86qSbRGEBc2SxrFOqzUc
VERCEL_PROJECT_ID=prj_TomXOxmbi4WJtNlU5OBzVl7fkcBq
VERCEL_ORG_ID=team_dwbjXojPEVwPX5RIP8x2DF1g
