/*_ CSS HEX _*/
:root {
--black: #000000ff;
--night: #0b0b0cff;
--powder-blue: #9cb7ceff;
--chrysler-blue: #2f04cfff;
--shocking-pink: #ea39b9ff;
--lime: #c2f04cff;
--maize: #f6ed5dff;
}

/* CSS HSL */
root {
--black: hsla(0, 0%, 0%, 1);
--night: hsla(240, 4%, 5%, 1);
--powder-blue: hsla(208, 34%, 71%, 1);
--chrysler-blue: hsla(253, 96%, 41%, 1);
--shocking-pink: hsla(317, 81%, 57%, 1);
--lime: hsla(77, 85%, 62%, 1);
--maize: hsla(56, 89%, 66%, 1);
}

/* SCSS HEX */
:root {
--black: #000000ff;
--night: #0b0b0cff;
--powder-blue: #9cb7ceff;
--chrysler-blue: #2f04cfff;
  --shocking-pink: #ea39b9ff;
  --lime: #c2f04cff;
  --maize: #f6ed5dff;
}

/* SCSS HSL */
:root {
--black: hsla(0, 0%, 0%, 1);
--night: hsla(240, 4%, 5%, 1);
--powder-blue: hsla(208, 34%, 71%, 1);
--chrysler-blue: hsla(253, 96%, 41%, 1);
--shocking-pink: hsla(317, 81%, 57%, 1);
--lime: hsla(77, 85%, 62%, 1);
--maize: hsla(56, 89%, 66%, 1);
}

/* SCSS RGB */
:root {
--black: rgba(0, 0, 0, 1);
--night: rgba(11, 11, 12, 1);
--powder-blue: rgba(156, 183, 206, 1);
--chrysler-blue: rgba(47, 4, 207, 1);
  --shocking-pink: rgba(234, 57, 185, 1);
  --lime: rgba(194, 240, 76, 1);
  --maize: rgba(246, 237, 93, 1);
}

/* SCSS Gradient */
:root {
--gradient-top: linear-gradient(0deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-right: linear-gradient(90deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-bottom: linear-gradient(180deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-left: linear-gradient(270deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-top-right: linear-gradient(45deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-bottom-right: linear-gradient(135deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-top-left: linear-gradient(225deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-bottom-left: linear-gradient(315deg, #000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
--gradient-radial: radial-gradient(#000000ff, #0b0b0cff, #9cb7ceff, #2f04cfff, #ea39b9ff, #c2f04cff, #f6ed5dff);
  }
